<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
  <!-- Log configuration properties -->
  <property name="log_pattern" value="%date{yyyy-MM-dd'T'HH:mm:ss.SSS'Z', UTC} [%26.26thread] %-5level %-40.40logger{39} : %msg%n" />
  <property name="log_dir" value="${VXMQ_LOGS_DIR:-logs}"/>
  <property name="log_file" value="${log_dir}/vxmq.log"/>

  <!-- Console Appender configuration -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${log_pattern}</pattern>
    </encoder>
  </appender>

  <!-- File Appender configuration from https://mkyong.com/logging/slf4j-logback-tutorial/ -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log_file}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${log_dir}/archived/vxmq.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <!-- each archived file, size max 10MB -->
      <maxFileSize>10MB</maxFileSize>
      <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
      <totalSizeCap>20GB</totalSizeCap>
      <!-- 60 days to keep -->
      <maxHistory>60</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${log_pattern}</pattern>
    </encoder>
  </appender>

  <!-- Set org.apache.ignite log level to WARN -->
  <logger name="org.apache.ignite" level="WARN" />

  <!-- Set org.apache.kafka log level to WARN -->
  <logger name="org.apache.kafka" level="WARN" />

  <!-- Set io.vertx.mqtt log level to WARN -->
  <logger name="io.vertx.mqtt" level="WARN" />

  <!-- Set io.netty.handler.logging.LoggingHandler log level to INFO -->
  <logger name="io.netty.handler.logging.LoggingHandler" level="${VXMQ_LOGS_IO_NETTY_HANDLER_LOGGING_LOGGINGHANDLER_LEVEL:-INFO}"/>

  <!-- Set io.github.jpforevers.vxmq log level by env LOGS_LEVEL, default to INFO -->
  <logger name="io.github.jpforevers.vxmq" level="${VXMQ_LOGS_LEVEL:-INFO}" />

  <!-- Root Logger configuration -->
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
    <!-- Default not enable File Appender -->
<!--    <appender-ref ref="FILE" />-->
  </root>
</configuration>
